.card-header-pic .card-header{
  height:60vw;
  background-size:cover;
  background-position:center;

  /*-webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);*/
}
